.navegation {
  background-color: #373c3f; }

.tNavegador {
  margin: 0;
  padding: 3%;
  display: inline-block;
  color: #ebebeb;
  font-size: 4vw; }

.menu {
  display: none; }

.logo {
  width: 10%;
  padding: 1.7%;
  padding-right: 0;
  background-color: #202529;
  float: right; }

.logoMenu {
  width: 76%; }

.degradado {
  margin: 0;
  background-image: linear-gradient(to bottom right, #19b4c6, #078aa4);
  padding-bottom: 30%; }

.principal {
  width: 81%;
  color: #ffffff;
  font-size: 6vw;
  margin: 0;
  padding: 23% 6.8% 2% 7.5%; }

.correo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 7.5%;
  font-size: 4vw; }

.flechas {
  display: inline;
  padding-left: 2%; }

.flecha1 {
  width: 4%; }

.morado {
  background-color: #27212c;
  color: #9282a0;
  font-size: 3vw; }

.texto1 {
  margin: 0;
  padding: 6% 0 6% 3.5%;
  display: inline-block; }

.flecha {
  padding: 6%;
  background-color: #bc3183;
  float: right; }

.flecha2 {
  width: 10px; }

.flecha3 {
  width: 100%; }

.foto1 {
  padding: 39% 44% 39%  49%;
  width: 7%;
  background-color: #5b0fa1;
  margin: 0; }

.img2 {
  width: 100%;
  margin: 0; }

.fFinal {
  background-color: #ebebeb; }

.tituloS {
  color: #088ca5;
  font-size: 5vw;
  padding: 12%;
  margin: 0; }

.texto2 {
  color: #515151;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 12%;
  margin: 0;
  font-size: 4vw; }

.texto3 {
  display: none; }

@media (min-width: 980px) {
  #navegacion .navegation {
    background-color: #373c3f; }
  #navegacion .tNavegador {
    display: none;
    color: #ebebeb; }
  #navegacion .menu {
    display: block; }
  #navegacion .logo {
    height: 20px;
    width: 31px;
    padding: 3%;
    padding-right: 0;
    background-color: #202529;
    float: right; }
  #navegacion .logoMenu {
    width: 73%; }

  #banner .degradado {
    margin: 0;
    background-image: linear-gradient(to bottom right, #19b4c6, #078aa4);
    padding-bottom: 30%; }
  #banner .principal {
    width: 81%;
    color: #ffffff;
    font-size: 1.0625rem;
    margin: 0;
    padding: 23% 6.8% 2% 7.5%; }
  #banner .correo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 7.5%;
    font-size: 0.625rem; }
  #banner .flechas {
    float: right;
    padding-right: 31%; }
  #banner .flecha1 {
    width: 8px; }

  #text-box .morado {
    background-color: #27212c;
    color: #9282a0;
    font-size: 0.625rem; }
  #text-box .texto1 {
    margin: 0;
    padding: 35px 0 35px 25px;
    display: inline-block; }
  #text-box .flecha {
    padding: 34.5px;
    background-color: #bc3183;
    float: right; }
  #text-box .flecha2 {
    width: 10px; }

  #imagenes .flecha3 {
    width: 20px; }
  #imagenes .foto1 {
    padding: 120px 135px 120px  150px;
    width: 20px;
    background-color: #5b0fa1;
    margin: 0; }
  #imagenes .img1 {
    width: 305px;
    margin: 0; }
  #imagenes .img2 {
    display: none; }
  #imagenes .img3 {
    display: none; }
  #imagenes .img4 {
    display: none; }
  #imagenes .foto {
    display: inline-block; }

  #final .fFinal {
    background-color: #ebebeb; }
  #final .tituloS {
    color: #088ca5;
    font-size: 0.875rem;
    padding: 35px;
    margin: 0; }
  #final .texto2 {
    color: #515151;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 35px;
    margin: 0;
    font-size: 0.625rem; }
  #final .texto3 {
    display: none; } }
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

/*# sourceMappingURL=style.css.map */
