.navegation {
  background-color: #373c3f; }

.tNavegador {
  margin: 0;
  padding: 3%;
  display: inline-block;
  color: #ebebeb;
  font-size: 4vw; }

.menu {
  display: none; }

.logo {
  width: 10%;
  padding: 1.6%;
  padding-right: 0;
  background-color: #202529;
  float: right; }

.logoMenu {
  width: 73%; }

.degradado {
  margin: 0;
  background-image: linear-gradient(to bottom right, #19b4c6, #078aa4);
  padding-bottom: 30%; }

.principal {
  width: 81%;
  color: #ffffff;
  font-size: 6vw;
  margin: 0;
  padding: 23% 6.8% 2% 7.5%; }

.correo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 7.5%;
  font-size: 4vw; }

.flechas {
  display: inline;
  padding-left: 2%; }

.flecha1 {
  width: 4%; }

.morado {
  background-color: #27212c;
  color: #9282a0;
  font-size: 3vw; }

.texto1 {
  margin: 0;
  padding: 6% 0 6% 3.5%;
  display: inline-block; }

.flecha {
  padding: 6%;
  background-color: #bc3183;
  float: right; }

.flecha2 {
  width: 10px; }

.flecha3 {
  width: 100%; }

.foto1 {
  padding: 39% 44% 39%  49%;
  width: 7%;
  background-color: #5b0fa1;
  margin: 0; }

.img2 {
  width: 100%;
  margin: 0; }

.fFinal {
  background-color: #ebebeb; }

.tituloS {
  color: #088ca5;
  font-size: 5vw;
  padding: 12%;
  margin: 0; }

.texto2 {
  color: #515151;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 12%;
  margin: 0;
  font-size: 4vw; }

.texto3 {
  display: none; }

@media (min-width: 980px) {
  .navegation {
    background-color: #373c3f; }

  .tNavegador {
    display: none; }

  .menu {
    padding: 2%;
    margin: 0; }

  .menu li {
    display: inline; }

  .menu li + li {
    margin-left: 1%; }

  .menu a {
    color: #ebebeb;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-decoration: none; }

  .logo {
    display: none; }

  .logoMenu {
    display: none; }

  .degradado {
    margin: 0;
    background-image: linear-gradient(to bottom right, #19b4c6, #078aa4);
    padding-bottom: 30%; }

  .principal {
    width: 81%;
    color: #ffffff;
    font-size: 6vw;
    margin: 0;
    padding: 23% 6.8% 2% 7.5%; }

  .correo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 7.5%;
    font-size: 4vw; }

  .flechas {
    display: inline;
    padding-left: 2%; }

  .flecha1 {
    width: 4%; }

  .morado {
    background-color: #27212c;
    color: #9282a0;
    font-size: 3vw; }

  .texto1 {
    margin: 0;
    padding: 6% 0 6% 3.5%;
    display: inline-block; }

  .flecha {
    padding: 6%;
    background-color: #bc3183;
    float: right; }

  .flecha2 {
    width: 10px; }

  .flecha3 {
    padding-bottom: 170%;
    width: 50%; }

  .foto1 {
    padding: 13% 11% 0%  15%;
    width: 7%;
    background-color: #5b0fa1;
    margin: 0;
    display: inline-block; }

  .foto {
    display: inline; }

  .img2 {
    width: 33%;
    margin: 0;
    display: inline; }

  .fFinal {
    background-color: #ebebeb; }

  .tituloS {
    color: #088ca5;
    font-size: 3vw;
    padding: 4%;
    margin: 0; }

  .cuadro {
    display: inline; }

  .cuadro2 {
    display: inline; }

  .texto2 {
    display: inline-block;
    width: 40%;
    color: #515151;
    padding-left: 4%;
    padding-bottom: 5%;
    padding-right: 4%;
    margin: 0;
    font-size: 2vw; }

  .texto3 {
    display: inline-block;
    width: 40%;
    color: #515151;
    padding-left: 4%;
    padding-bottom: 5%;
    padding-right: 4%;
    margin: 0;
    font-size: 2vw; } }
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

/*# sourceMappingURL=style.css.map */
